@import "tailwindcss";

button,
a {
    cursor: pointer !important;
}

.border-story-color{
    border-color: linear-gradient(90deg, #6340FF, #D748EA) !important;
}



.flag-dropdown {
  width: 59px !important;
  border: 2px solid #EEEEEE !important;
}
.react-tel-input .selected-flag{
  width: 100% !important;
  background: #fff !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
}
.react-tel-input .form-control{
  padding-left: 65px !important;
}


@keyframes float {
  0%, 100% { transform: translateY(0) scale(1); }
  50% { transform: translateY(-10px) scale(1.1); }
}

@keyframes sparkle {
  0% { transform: scale(0) rotate(0deg); opacity: 0; }
  50% { transform: scale(1) rotate(180deg); opacity: 1; }
  100% { transform: scale(0) rotate(360deg); opacity: 0; }
}

.appreciate-animation {
  animation: float 0.6s ease-in-out;
}

.sparkle {
  position: absolute;
  width: 8px;
  height: 8px;
  background: radial-gradient(circle, #7077FE 20%, transparent 70%);
  border-radius: 50%;
  animation: sparkle 0.8s ease-out forwards;
}


.custom-checkbox:checked {
  background: linear-gradient(50deg, #F07EFF, #897AFF);
  border-color: transparent; /* optional */
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: white;
  border: 2px solid #7c3aed;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: white;
  border: 2px solid #7c3aed;
  border-radius: 50%;
  cursor: pointer;
}