@import "tailwindcss";

.jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.openSans {
  font-family: "Open Sans", sans-serif;
}
.poppins{
    font-family: "Poppins", sans-serif;
}

@keyframes bounceLeft {
  0%, 100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(30%);
  }
}

@keyframes bounceRight {
  0%, 100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-30%);
  }
}

.animate-bounce-x-left {
  animation: bounceLeft 12s ease-in-out infinite;
}

.animate-bounce-x-right {
  animation: bounceRight 12s ease-in-out infinite;
}


.modal-enter {
  opacity: 0;
  transform: translateY(20px);
}
.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-in-out;
}
.modal-exit {
  opacity: 1;
  transform: translateY(0);
}
.modal-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: all 300ms ease-in-out;
}






@keyframes wave1 {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-25px); }
}
@keyframes wave2 {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
}
@keyframes wave3 {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}

.animate-wave1 {
  animation: wave1 6s ease-in-out infinite;
}
.animate-wave2 {
  animation: wave2 8s ease-in-out infinite;
}
.animate-wave3 {
  animation: wave3 10s ease-in-out infinite;
}

.clip-wave1 {
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
}
.clip-wave2 {
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0% 100%);
}
.clip-wave3 {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
}
